#backend
__pycache__/
backend/log
backend/static

#web
# Logs
web1/logs
web/*.log
web1/npm-debug.log*
web1/yarn-debug.log*
web1/yarn-error.log*
web1/pnpm-debug.log*
web1/lerna-debug.log*

web1/node_modules
web1/dist
web1/dist-ssr
web1/stats.html
web/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
