.user_infos {
  position: static;

  /* 自动布局 */
  display: flex;

  /* Inside Auto Layout */
  flex: none;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
}
.info_container {
  position: static;

  /* 自动布局 */
  display: flex;

  /* Inside Auto Layout */
  flex: none;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.delete_account {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 29px;
  color: red;
  text-align: left;
  letter-spacing: 0;
}
.icon_top {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}
.role_text {
  font-size: 13px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  letter-spacing: 0;
}
.input_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
}
