.message_settings {
    position: static;
    /* 自动布局 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;

    /* Inside Auto Layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    margin: 10px 0px;
}

.single_setting {
    position: static;
    height: fit-content;
    /* 自动布局 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 20px;

    /* Inside Auto Layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px;
}

.setting_row {
    position: static;
    height: fit-content;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    margin: 5px 0px;
}

.single_setting:hover {
    background-color: rgba($color: #AFAFAF, $alpha: 0.2);
}

.setting_text {
    font-size: 13px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;

    padding: 5px;
}