.message-settings {
  position: static;

  /* 自动布局 */
  display: flex;

  /* Inside Auto Layout */
  flex: none;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  min-height: 100%;
  padding: 10px;
}
.single-setting {
  position: static;

  /* 自动布局 */
  display: flex;

  /* Inside Auto Layout */
  flex: none;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  height: fit-content;
  padding: 15px 20px;
  margin: 0;
}
.single-setting:hover {
  background-color: rgba($color: #afafaf, $alpha: 20%);
}
.setting-row {
  position: static;

  /* 自动布局 */
  display: flex;

  /* Inside Auto Layout */
  flex: none;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  height: fit-content;
  padding: 0;
  margin: 5px 0;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.setting-row .el-slider {
  max-width: 700px;
}
.setting-text {
  padding: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  letter-spacing: 0;
}
